#
# AppSwitch configuration file for single-node cluster example.
#
# Bringing up a single-node cluster does not require any configuration
# options being set.  We pass 'user' driver explicitly here for clarity.
#
# This is equivelent to using the command line
#
#  ax daemon --driver user --clean
#

# Syscall forwarding driver
AX_DRIVER=user

# Cluster config options.
AX_NODE_INTERFACE=
AX_NEIGHBORS=

# Federation config options.
AX_CLUSTER=
AX_FEDERATION_GATEWAY_IP=
AX_FEDERATION_GATEWAY_NEIGHBORS=

# Additional options
# AX_OPTS=--clean --dns-domain=local.appswitch
AX_OPTS=--clean

