#
# AppSwitch configuration file for multi-node cluster #  vm: host1
#
# This is equivelent to using the command line
#
# $ ax daemon --driver user --clean --node-interface 192.168.56.11 --neighbors 192.168.56.10,192.168.56.11
#

# Syscall forwarding driver
AX_DRIVER=user

# Cluster config options.
AX_NODE_INTERFACE=192.168.56.11
AX_NEIGHBORS=192.168.56.10,192.168.56.11

# Federation config options.
AX_CLUSTER=
AX_FEDERATION_GATEWAY_IP=
AX_FEDERATION_GATEWAY_NEIGHBORS=

# Additional options
# AX_OPTS=--clean --dns-domain=local.appswitch
AX_OPTS=--clean
